<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageName + separator + appName %></title>

        <!-- ICONSCOUT CDN -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />

        <!-- GOOGLE FONTS (MONTSERRAT) -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/courses.css" />
        <style>
            body {
                background-image: url("/images/bg-texture.png");
            }
        </style>
    </head>

    <body>
        <%- include("../partials/navbar.ejs") %>

        <main>
            <section class="courses">
                <form action="/courses" method="GET" id="sortForm" class="container">
                    <label for="sort">Sort by:</label>
                    <select name="sort" id="sort" onchange="document.getElementById('sortForm').submit();">
                        <option value="popular" <%= sort === 'popular' ? 'selected' : '' %>>Most Popular</option>
                        <option value="asc" <%= sort === 'asc' ? 'selected' : '' %>>Alphabetical (A-Z)</option>
                        <option value="desc" <%= sort === 'desc' ? 'selected' : '' %>>Alphabetical (Z-A)</option>
                    </select>
                </form>

                <div class="container courses__container">
                    <%courses.forEach(course => { %>
                    <a href="/courses/<%= course.id %>">
                        <article class="course">
                            <div class="course__image">
                                <img src="/images/courses/<%= course.picture %>" />
                            </div>
                            <div class="course__info">
                                <h4>Learn <%= course.name %></h4>
                                <p class="course__description"><%= course.description %></p>
                                <p class="course__enroll">
                                    <%if (course.isEnrolled) { %> You are enrolled!<br />
                                    <%} else { %> Price: $<%= course.price %><br />
                                    <%} %> Students enrolled: <%= course.enrollCount.toLocaleString().replace(",", ", ") %>
                                </p>
                            </div>
                        </article>
                    </a>
                    <%}) %>
                </div>
            </section>

            <div id="popup" class="popup hidden">
                <p id="popup-message"></p>
                <button id="popup-close" class="btn">Close</button>
            </div>
        </main>

        <%- include("../partials/footer.ejs") %>

        <script src="/main.js"></script>
        <script src="/error-popup-box.js"></script>
    </body>
</html>
