<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageName + separator + appName %></title>

        <!-- ICONSCOUT CDN -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />

        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />

        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/courses.css" />
        <style>
            body {
                background-image: url("/images/bg-texture.png");
            }
        </style>
    </head>

    <body>
        <!-- Navbar -->
        <%- include("../partials/navbar.ejs") %>

        <main>
            <div class="container">
                <div class="course-detail">
                    <div class="course-detail__image">
                        <img src="/images/courses/<%= course.picture %>" alt="Course Image" />
                    </div>

                    <div class="course-detail__info">
                        <h1>Learn <%= course.name %>!</h1>
                        <p><%= course.description %></p>
                        <h2><strong>What you'll learn:</strong></h2>
                        <ul>
                            <!-- If "popularCourses" is not an array, then display its error message -->
                            <%if (!Array.isArray(course.topics)) { %>
                            <li><%= course.topics %></li>
                            <%} else { %>
                            <!-- If "popularCourses" is an array, then display its array of popular courses -->
                            <%if (course.topics.length> 0) { %> <%course.topics.forEach((topic, index) => { %>
                            <li>Topic <%= index + 1 %>: <%= topic.name %>, <%= topic.description %>.</li>
                            <%}) %> <%} else { %>
                            <li>This course has no topics yet!</li>
                            <%} %> <%} %>
                        </ul>
                        <div class="course-detail__actions">
                            <form action="/courses/<%= course.id %>/enroll" method="POST">
                                <input type="hidden" name="courseId" value="<%= course.id %>" />
                                <%if (course.isEnrolled) { %>
                                <button type="submit" class="btn btn-secondary" disabled>You are enrolled!</button>
                                <%} else { %>
                                <button type="submit" class="btn btn-secondary">Add to Cart ($<%= course.price%>)</button>
                                <%} %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="popup" class="popup hidden">
                <p id="popup-message"></p>
                <button id="popup-close" class="btn">Close</button>
            </div>
        </main>
        <!-- Footer -->
        <%- include("../partials/footer.ejs") %>

        <script src="/main.js"></script>
        <script src="/error-popup-box.js"></script>
    </body>
</html>
