<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageName + separator + appName %></title>

        <!-- ICONSCOUT CDN -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />

        <!-- GOOGLE FONTS (MONTSERRAT) -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/courses.css" />
        <style>
            body {
                background-image: url("/images/bg-texture.png");
            }
            .container {
                flex: 1;
            }
            footer {
                margin-top: auto;
            }
        </style>
    </head>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <main>
            <div class="container">
                <div class="course-detail">
                    <div class="course-detail__image">
                        <img src="/images/courses/course<%= chosenCourse.id %>.jpg" alt="Course Image" />
                    </div>
                    <div class="course-detail__info">
                        <h1>Learn <%= chosenCourse.name %>!</h1>
                        <p><%= chosenCourse.description %></p>
                        <h2><strong>What you'll learn:</strong></h2>
                        <ul>
                            <li>Topic 1: Introduction to <%= chosenCourse.name %></li>
                            <li>Topic 2: Advanced techniques in <%= chosenCourse.name %></li>
                            <li>Topic 3: Real-world applications</li>
                        </ul>

                        <div class="course-detail__actions">
                            <!-- Form to handle course enrollment -->
                            <form action="/enroll" method="POST">
                                <input type="hidden" name="courseId" value="<%= chosenCourse.id %>" />
                                <button type="submit" class="btn btn-secondary">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========================= END OF COURSE ========================= -->
        </main>

        <%- include("./partials/footer.ejs") %>

        <script src="/main.js"></script>
    </body>
</html>
