<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageName + tabNameSeparator + appName %></title>

        <!-- ICONSCOUT CDN -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />

        <!-- GOOGLE FONTS (MONTSERRAT) -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/contact.css" />
        <style>
            body {
                background-image: url("images/bg-texture.png");
            }
            .courses {
                margin-top: 1rem;
            }
        </style>
    </head>

    <body>
        <%- include("./partials/navbar.ejs") %>
        <!-- ========================= END OF NAVBAR ========================= -->

        <section class="courses">
            <form action="/courses" method="GET" id="sortForm" class="container">
                <label for="sort">Sort by:</label>
                <select name="sort" id="sort" onchange="document.getElementById('sortForm').submit();">
                    <option value="popular" <%= sort === 'popular' ? 'selected' : '' %>>Most Popular</option>
                    <option value="asc" <%= sort === 'asc' ? 'selected' : '' %>>Alphabetical (A-Z)</option>
                    <option value="desc" <%= sort === 'desc' ? 'selected' : '' %>>Alphabetical (Z-A)</option>
                </select>
            </form>
            
            <div class="container courses__container">
                <% courses.forEach((course, index) => { %>
                    <a href="#">
                        <article class="course">
                            <div class="course__image">
                                <img src="images/course<%= index + 1 %>.jpg" />
                            </div>
                            <div class="course__info">
                                <h4><%= course.title %></h4>
                                <p><%= course.description %></p>
                                <p class="course__enroll">Students enrolled: <%= course.enrollCount.toLocaleString().replace(",", ", ") %></p>
                            </div>
                        </article>
                    </a>
                <% }) %>
            </div>
        </section>
        <!-- ========================= END OF COURSES ========================= -->

        <%- include("./partials/footer.ejs") %>
        <!-- ========================= END OF FOOTER ========================= -->

        <script src="main.js"></script>
    </body>
</html>
