<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageName + separator + appName %></title>

        <!-- ICONSCOUT CDN -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />

        <!-- GOOGLE FONTS (MONTSERRAT) -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

        <!-- SWIPER JS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/courses.css" />
        <style>
            body {
                background-image: url("/images/bg-texture.png");
            }
        </style>
    </head>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <main>
            <header>
                <div class="container header__container">
                    <div class="header__right">
                        <div class="header__right-image">
                            <img src="images/header.svg" />
                        </div>
                    </div>
                    <div class="header__left">
                        <h1>Grow your skills to advance your career path</h1>
                        <p>Enhance your knowledge and expertise in your chosen field to propel your career forward. Regularly seek opportunities for professional development, attend workshops, and stay updated with industry trends.</p>
                        <a href="/user/register" class="btn btn-primary">Sign Up</a>
                        <a href="/courses" class="btn btn-primary">See all courses</a>
                    </div>
                </div>
            </header>

            <section class="categories">
                <div class="container categories__container">
                    <div class="categories__left">
                        <h1>Categories</h1>
                        <p>Expand your coding expertise and dive into the world of technology. Whether you're a beginner or looking to advance your skills, explore these courses designed to enhance your programming knowledge.</p>
                        <a href="/courses" class="btn">See all courses</a>
                    </div>

                    <div class="categories__right">
                        <%categories.forEach(category => { %>
                        <article class="category">
                            <span class="category__icon">
                                <i class="<%= category.iconscoutName %>"></i>
                            </span>
                            <h5><%= category.name %></h5>
                            <p><%= category.description %></p>
                        </article>
                        <%}) %>
                    </div>
                </div>
            </section>

            <section class="courses">
                <h2>Our Popular Courses</h2>
                <div class="container courses__container">
                    <%topCourses.forEach(topCourse => { %>
                    <a href="/courses/course/<%= topCourse.id %>">
                        <article class="course">
                            <div class="course__image">
                                <img src="/images/courses/<%= topCourse.picture %>" />
                            </div>
                            <div class="course__info">
                                <h4>Learn <%= topCourse.name %></h4>
                                <p class="course__description"><%= topCourse.description %></p>
                                <p class="course__enroll">
                                    Price: $<%= topCourse.price %><br />
                                    Students enrolled: <%= topCourse.enrollCount.toLocaleString().replace(",", ", ") %>
                                </p>
                            </div>
                        </article>
                    </a>
                    <%}) %>
                </div>
            </section>

            <section class="faqs">
                <h2>Frequently Asked Questions</h2>

                <div class="container faqs__container">
                    <%faqs.forEach(faq => { %>
                    <article class="faq">
                        <div class="faq__icon"><i class="uil uil-plus"></i></div>
                        <div class="question__answer">
                            <h4><%= faq.question %></h4>
                            <p><%= faq.answer %></p>
                        </div>
                    </article>
                    <%}) %>
                </div>
            </section>

            <section class="container testimonials__container mySwiper">
                <h2>Students' Testimonials</h2>
                <div class="swiper-wrapper">
                    <%testimonials.forEach(testimonial => { %>
                    <article class="testimonial swiper-slide">
                        <div class="avatar">
                            <img src="/images/testimonials/<%= testimonial.picture %>" />
                        </div>
                        <div class="testimonial__info">
                            <h5><%= testimonial.name %></h5>
                            <small><%= testimonial.role %></small>
                        </div>
                        <div class="testimonial__body">
                            <p><%= testimonial.quote %></p>
                        </div>
                    </article>
                    <%}) %>
                </div>
                <div class="swiper-pagination"></div>
            </section>

            <div id="popup" class="popup hidden">
                <p id="popup-message"></p>
                <button id="popup-close" class="btn">Close</button>
            </div>
        </main>

        <%- include("./partials/footer.ejs") %>

        <script src="/main.js"></script>
        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
        <script>
            // Slides for testimonials section
            let swiper = new Swiper(".mySwiper", {
                slidesPerView: 1,
                spaceBetween: 30,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                // When window width is >= 600px
                breakpoints: {
                    600: { slidesPerView: 2 },
                },
            });
        </script>
        <script src="/error-popup-box.js"></script>
    </body>
</html>
